---
- name: Install Java
  action: >
    {{ ansible_pkg_mgr }} name='{{ JavaPackages }}' state=present update_cache=yes
  when: ansible_pkg_mgr is defined

- name: Install Java with package
  ansible.builtin.package:
    name:
      - "java-{{ JavaVersion }}-openjdk"
      - "java-{{ JavaVersion }}-openjdk-devel"
  when: ansible_pkg_mgr is not defined