---
- name: Install Java with package manager
  action: >
    {{ ansible_pkg_mgr }} name='{{ JavaPackages }}' state=present update_cache=yes
  when: ansible_pkg_mgr is defined

- name: Install Java with package module
  ansible.builtin.package:
    name: "{{ JavaPackages }}"
    state: present
  when: ansible_pkg_mgr is not defined