---
- name: Install repository on RedHat family
  block:
  - name: Install Jenkins repository on RedHat family
    ansible.builtin.get_url:
      url: https://pkg.jenkins.io/redhat-stable/jenkins.repo
      dest: /etc/yum.repos.d/jenkins.repo
      mode: '0644'
      owner: root
      group: root

  - name: Import Jenkins repository key
    ansible.builtin.rpm_key:
      state: present
      key: https://pkg.jenkins.io/redhat-stable/jenkins.io-2023.key
  
  - name: Install Jenkins
    ansible.builtin.dnf:
      name: jenkins
      state: present
  when: ansible_pkg_mgr == 'dnf'

- name: create Override directory for Jenkins
  ansible.builtin.file:
    path: /etc/systemd/system/jenkins.service.d
    state: directory
    owner: root
    group: root
    mode: 0755

- name: set override
  ansible.builtin.copy:
    dest: '/etc/systemd/system/jenkins.service.d/override.conf'
    content: |
      [Service]
      Environment="{{ JavaOptionsCommon }}{{ JavaOptions | join(' ') | default('') }}"
      Environment="{{ JenkinsOptionsCommon }}{{ JenkinsOptions | join(' ') | default('') }}"

# - name: Configure Jenkins
#   ansible.builtin.lineinfile:
#     path: /etc/systemd/system/jenkins.service.d/override.conf
#     create: true

#     # insertafter: '### Anything between here and the comment below will become the new contents of the file'