---
- name: Install Java with package manager
  action: >
    {{ ansible_pkg_mgr }} name='{{ JavaPackages }}' state=present update_cache=yes
  when: ansible_pkg_mgr is defined

- name: Install Java with package module
  ansible.builtin.package:
    name: "{{ JavaPackages }}"
    state: present
  when: ansible_pkg_mgr is not defined

- name: Create profile file for Java
  ansible.builtin.copy:
    dest: /etc/profile.d/java.sh
    owner: root
    group: root
    mode: 0644
    content: |
      export JAVA_HOME=$(dirname $(dirname $(readlink $(readlink $(which java)))))
      export PATH=$PATH:$JAVA_HOME/bin